.t-header {
  background: #D34338;
  margin-bottom: 20px;
  /* height: 40px;
  line-height: 1; */
}

.t_nav {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.t_nav a {
  color: #fff;
}

.top-list .title {
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  margin-bottom: 10px;
}

.guanf {
  margin-left: 10px;
  display: flex;
  position: relative;
  margin-bottom: 10px;
}

.guan-img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.g-info {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.g-info p {
  width: 230px;
  line-height: 1.8;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-list .music_tj ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding-left: 5px;
  flex-wrap: wrap;
}

.top-list .music_tj ul li {
  padding: 0 10px 0 10px;
  position: relative;
  width: 33.333%;
}

.top-list .music_tj ul li img {
  width: 100px;
  height: 110px;
}

.top-list .music_tj .name_b {
  padding: 0;
  font-size: 10px;
  color: #626364;
  font-family: "yahei";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-list .tj_img {
  border-radius: 4px;
}